@import '../../App.css';

.flex {
  display: flex;
  align-items: center;
}

#time {
  color: var(--softBlue);
  font-weight: 400;
  font-size: 15px;
}

#clock {
  margin-right: 8px;
}

@media (min-width: 801px) {
  #time {
    font-size: 22px;
  }

  #clock {
    height: 30px;
    width: auto;
  }
}
