@import '../../App.css';

.creatorInfo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 4px;
}

#avatar {
  width: 2rem;
  height: 2rem;
  border: 1px solid var(--white);
  border-radius: 25px;
  margin-right: 16px;
}

#author {
  color: var(--softBlue);
  margin-top: 16px;
  font-size: 15px;
  font-weight: 400;
}

#name {
    color:var(--white);
}