.creatorInfo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 4px;
}

#avatar {
  width: 2rem;
  height: 2rem;
  border: 1px solid hsla(0, 0%, 100%, 1);
  border-radius: 25px;
  margin-right: 16px;
}

#author {
  color: hsl(215, 51%, 70%);
  margin-top: 16px;
  font-size: 15px;
  font-weight: 400;
}

#name {
    color:hsla(0, 0%, 100%, 1);
}