@import '../../App.css';

.data {
  width: 100%;
  padding-bottom: 11px;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  border-width: 278px;
  border-bottom: 1px solid var(--veryDarkBlueLine);
}

@media (min-width: 801px) {
  .data {
    margin-bottom: 20px;
  }
}
