@import '../../App.css';

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

* {
  font-family: 'Outfit';
}

.card {
  background-color: var(--veryDarkBlueCard);
  width: 327px;
  height: 543px;
  border-radius: 15px;
  padding: 7px;
  box-shadow: 25px 50px rgba(0, 0, 0, 0.0952917);
}

.title {
  color: var(--white);
  font-size: 22px;
  font-weight: 600;
  margin-top: 32px;
}

.text {
  color: var(--softBlue);
  font-weight: 300;
  font-size: 18px;
  margin-top: 10px;
  margin-right: 8px;
}

.main_img {
  border-radius: 15px;
}

.view {
  opacity: 0;
}

.content {
  position: absolute;
  top: 52%;
  bottom: 0;
}

@media (min-width: 801px) {
  .card {
    width: 490.5px;
    height: 824.5px;
    padding: 16px;
    border-radius: 25px;
  }

  .title {
    font-size: 30px;
    margin-bottom: 0;
    margin-top: 0;
  }

  .title:hover {
    color: var(--cyan);
    cursor: pointer;
  }

  .text {
    font-size: 24px;
    margin-top: 10;
    margin-bottom: px 8px;
    margin-right: 10px;
    display: block;
  }

  .image_container {
    position: absolute;
    width: 410px;
    height: 410px;
    display: block;
    margin: 0 auto;
    left: 0;
    right: 0;
  }

  .main_img {
    display: block;
    width: 100%;
    height: auto;
  }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 410px;
    width: 410px;
    opacity: 0;
    transition: 0.3s ease;
    background-color: var(--cyan);
    border-radius: 15px;
    cursor: pointer;
  }

  .view {
    color: white;
    position: absolute;
    width: 15%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;
  }

  .image_container:hover .overlay {
    opacity: 0.3;
  }

  .image_container:hover .view {
    opacity: 1;
  }

  .content {
    position: absolute;
    top: 57%;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
