@import '../../App.css';

.flex {
  display: flex;
  align-items: center;
}

#etherium_text {
  color: var(--cyan);
  font-weight: 600;
  font-size: 16px;
  margin: auto 5px;
}

@media (min-width: 801px) {
  #etherium_text {
    font-size: 30px;
  }

  #etherium_icon {
    height: 30px;
    width: auto;
  }
}
